<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>QR Codebreakers login</title>
</head>
<body>
<p><strong><%= message %></strong></p>
<form  method="post" action="/q/login/<%= no %>">
	Enter your nickname: <input type="text" name="nick" />
	<input type="submit" value="Play!" />
</form>
</body>
</html>
